name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Ping your server
        run: ping -c 3 160.250.204.218

      - name: Try SSH (fail-safe)
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 160.250.204.218
          username: root
          key: ${{ secrets.DEPLOY_KEY }}
          script: echo "Connected!"

      - name: Test SSH port connectivity
        run: |
          apt-get update && apt-get install -y netcat
          nc -zv 160.250.204.218 22

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 160.250.204.218 # your server IP
          username: root # your ssh username
          key: ${{ secrets.DEPLOY_KEY }} # your private deploy key stored as a secret
          script: |
            cd /root/amirs
            git pull origin master
            npm install
            pm2 restart fastify-backend
